<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Mission to Mars</title>
  </head>
  <body>
    <div class="container-fluid banner" >
      <div class= "banner-text text-center">
        <h1>MISSION TO MARS</h1>
        <a href="/scrape" class="banner-btn">Scrape New Data</a>
        <div class="down-arrow"><a href="#scraped-data"><img src="../static/images/down-arrow.png"></a></div>
      </div>
    </div>
    <div class="container-fluid news no-padding" id="scraped-data">
      <div class="row no-gutter">
        <div class="card-body">
          <h5 class="card-title" id="font">Latest Mars News</h5>
          <h6 class="card-subtitle mb-2 " id="font">{{ mars.news_title }}</h6>
          <p class="card-text">{{ mars.summary }}</p>
          <a href={{ mars.news_url }} target="_blank">Check All News</a>
        </div>
      </div>
      <div class="row no-gutter img-table">
        <div class="col-md-6" style="background-color: #000; color: white;">
          <div class="card">
            <div class="card-body" id="img-table" style="background-color: #000; color: white;">
              <h5 class="card-title">Featured Mars Image</h5>
              <p class="card-text" id="dark-font">{{ mars.featured_image_title }}</p>
              <img class="card-img-bottom" src="{{ mars.featured_image }}" alt="Featured Mars Image">
              <a href={{ mars.jpl_url }} target="_blank">Check All Images</a>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="background-color: #000; color: white;">
          <div class="card">
            <div class="card-body" id="img-table" style="background-color: #000; color: white;">
              <div class="col-md-12">
                <h5 class="card-title">Current Weather on Mars</h5>
                <p class="card-text" id="dark-font">{{ mars.weather }}</p>
              </div>
            </div>
            <div class="card-body" id="img-table" style="background-color: #000; color: white;">
              <div class="col-md-12">
                <div>
                  <h5 class="card-title">Mars Facts</h5>
                  <p class="card-text"id="dark-font" >{{ mars.fact_table | safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-body id="image>
      <div class="col-md-12">
        <h3 align="center" id="font">Mars Hemisphere</h3>
        <div class="row">
          {% for hem in mars.hemisphere_image_urls %}
            <div class="col-md-3">
              <button type="button" class="btn-custom" data-toggle="modal" data-target="#{{ hem.title.replace(' ','-') }}"><img src="{{ hem.img_url }}" class="img-thumbnail"  alt="{{hem.title}}">
              </button>
              <h6 class="card-text" align="center" id="font">{{ hem.title }}</h6>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% for hem in mars.hemisphere_image_urls %}
    <div class="modal fade" id="{{ hem.title.replace(' ','-') }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ hem.title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" id="close-botton">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{ hem.img_url }}" class=" img-fluid"  alt="{{ hem.title }}">
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>